.category-list-container, .add-category-container {
    min-width: 550px;
    max-width: 90%;
    margin: 3% 0 3% 5%;
    padding-bottom: 20px;
}

.category-list-container th {
    text-align: center;
}

.category-list-title {
    text-align: center;
}

.add-category-button {
    float: right;
}